:markdown

  ## Col. Mustard

  An ex-marine and a Kombucha sommeiller. Col. Mustard has ties with foreign governments. Evidence points to Col. Mustard having a secret affair w/ Mr. Boddy.

%a{href: "/"} back
