:markdown

  ## Dr. Orchid

  A plant biology PhD, he works in the same lab as Mr. Boddy. They were the first to find Mr. Boddy. Dr. Orchid has legally filed for control over their research.

%a{href: "/"} back

