%html
  %h3 File 103 - The Mysterious Murder at 206 Holland Manor
  Please submit any leads or information on potential suspects.
  %br
  %br
  %form{method: "POST", action: "submit"}
    %div
      %label{for: "weapon"} Weapon
      %select{name: "weapon"}
        %option{value: "rope"} Rope
        %option{value: "wrench"} Wrench
        %option{value: "poison"} Poison
    %div
      %label{for: "suspect"} Suspect
      %select{name: "suspect"}
        %option{value: "mr_green"} Mr. Green
        %option{value: "ms_peacock"} Ms. Peacock
        %option{value: "col_mustard"} Col. Mustard
        %option{value: "prof_plum"} Prof. Plum
        %option{value: "ms_scarlet"} Ms. Scarlet
        %option{value: "dr_orchid"} Dr. Orchid PhD
    %div
      %input{type: "submit", value: "Submit"}
  %hr
  %i
    Thank you for your collaboration with the Brother Odd Authorities.
