%html
  %link{href: "https://fonts.googleapis.com/css?family=Crimson+Text", rel: "stylesheet"}
  :css
    body { font-family: 'Crimson Text' !important; font-size: 1.5em; }
    input, select { font-family: 'Crimson Text' !important; font-size: 1.2em; }
  %body
    = yield
