:markdown

  ## Mr. Green

  A Venture Capitalist who is funding Mr. Boddy’s current project. He made his money in the cutthroat cryptocoin industry by minting CBDcoin. They were seen arguing on the day of the incident.

%a{href: "/"} back
