:markdown

  ## Ms. Peacock

  Mr. Boddy’s younger sister.  Took care of ailing parents until their death last year. 206 Holland Manor was inherited by Mr. Boddy, subsequently displacing her.

%a{href: "/"} back
