:markdown

  ## Prof. Plum

  Friends with Mr. Boddy from college, he is a chemistry professor at Odd University. Mr. Boddy was supposed to meet him for dinner on the day of the incident, but he claims Mr. Boddy never showed up.

%a{href: "/"} back
