:markdown

  ## Mr. H. Boddy

  An eccentric entrepreneur, Mr. Boddy made a fortune developing and selling classified technologies to foreign governments.

  He was born into the Boddy family, a historically wealthy family that struggled to keep their assets financially viable in modern times. He spent his childhood at 206 Holland manor, and was sent, at an early age, to boarding schools, where he kept mostly to himself. He developed into a teenage prodigy, and got accepted into Odd University at age 16.

  Before leaving for Odd University, he broke ties with his family after a fight over money and morals. He did not return to 206 Holland Manor for another 14 years.

  Before his death, Mr. Boddy had been involved in multiple costly legal proceedings. Even though, at times, his networth was estimated at several tens of millions, his actualy financial standing is a mystery.

  On 2018-10-26 he was found dead in the bathroom of 206 Holland Manor, next to his office.

%a{href: "/"} back
